<%= if @status == 1 do %>
    <div class="w-full pb-full bg-green-300 border-solid border border-gray-200"></div>
<% else %>
    <div class="w-full pb-full bg-red-300 border-solid border border-gray-200"></div>
<% end %>
